@model CreateSkillViewModel

@{
    ViewBag.Title = Model.Title;
}


<pre>@Model.Title</pre>


<form asp-controller="Learning" asp-action="CreateSkill" method="post">
    <div>
        <label asp-for="Name"></label>
        <input type="type" name="Name" value="" />
    </div>
    <div>

    </div>

</form>



@*Specific page relative static files : *@

@* - Stylesheets *@

@section SpecificPageStyles{


}


@* - Scripts JS *@

@section SpecificPageScripts{


}
