@model ShowKnowledgeViewModel

@{
    ViewBag.Title = Model.PageTitle;
}


<pre>@Model.PageTitle</pre>

<div class="jumbotron">
    <ul>
        @foreach (var item in Model.Knowledges)
        {
            <li>@item.Title</li>
        }
    </ul>
</div>





@*Specific page relative static files : *@

@* - Stylesheets *@

@section SpecificPageStyles{


}


@* - Scripts JS *@

@section SpecificPageScripts{


}
