
<div class="jumbotron p-4">
    <h1 class="display-4 pb-4">Bienvenue sur U<span style="color:red">p</span>GrA<span style="color:red">d</span>E</h1>
    <p class="lead">Ce site a pour but de vous aider à améliorer vos compétences, à progresser dans les domaines de votre choix.</p>
    <p class="lead">Autant sur le plan physique que professionnel, vous pourrez ainsi établir un suivi et une meilleur organisation pour votre évolution personnelle</p>
    <p class="lead">Vous en saurez plus...Avant de déployer cette application pour en faire profiter ce qui le souhaintent je vais tout d'abord durant un mois complet tester cette méthode et ferai une analyse disponible <a href="#">ici</a>.</p>
    <p class="lead">Il s'agit tout simplement de REX (retour d'expérience personnelle), mais aussi de lecture d'ouvrage sur l'apprentissage (je fournirai quelques <a href="#">liens et références)</a>.</p>
    <p class="lead">Etablissement de stratégie, planning d'apprentissage, révision rapide de ce que vous avez étudié pour une meilleure assimilation, une plus grande efficacité ou tout simplement à des fins de motivation...</p>
</div>



@*Specific page relative static files : *@

@* - Stylesheets *@

@section SpecificPageStyles{


}


@* - Scripts JS *@

@section SpecificPageScripts{


}
